server {
  listen 80;
  listen [::]:80;

  server_name {{ jellyfin_FQDN | join(' ') }};

{% if jellyfin_redirect_HTTPS %}
  return 301 https://$host$request_uri;
{% else %}
  location / {
    # Proxy main Jellyfin traffic
    proxy_pass http://localhost:{{ jellyfin_HTTP_port }};
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Forwarded-Protocol $scheme;
    proxy_set_header X-Forwarded-Host $http_host;

    # Disable buffering when the nginx proxy gets very resource heavy upon streaming
    proxy_buffering off;
  }
  location /embywebsocket {
    # Proxy Jellyfin Websockets traffic
    proxy_pass http://localhost:{{ jellyfin_HTTP_port }};
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Forwarded-Protocol $scheme;
    proxy_set_header X-Forwarded-Host $http_host;
  }
{% endif %}
}
server {
  listen 443 ssl http2;
  server_name {{ jellyfin_FQDN | join(' ') }};
  ssl_certificate {{ jellyfin_certificate_path }}/fullchain.pem;
  ssl_certificate_key {{ jellyfin_certificate_path }}/privkey.pem;

  location / {
    # Proxy main Jellyfin traffic
    proxy_pass http://localhost:{{ jellyfin_HTTP_port }};
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Forwarded-Protocol $scheme;
    proxy_set_header X-Forwarded-Host $http_host;

    # Disable buffering when the nginx proxy gets very resource heavy upon streaming
    proxy_buffering off;
  }
  location /embywebsocket {
    # Proxy Jellyfin Websockets traffic
    proxy_pass http://localhost:{{ jellyfin_HTTP_port }};
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Forwarded-Protocol $scheme;
    proxy_set_header X-Forwarded-Host $http_host;
  }
}
